<section class="card p-4">
    <div class="d-flex align-items-center gap-5 border-bottom pb-3">
        <h5 class="m-0 fw-bold text-uppercase">Phân tích</h5>
        <div class="btn-group">
            <button type="button" class="btn--dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Tất cả khuyến mãi
                <i class="fa-solid fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" style="width: 19rem;">
                <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li class="px-2 py-1">
                    <button class="btn btn-primary d-flex align-items-center justify-content-between"
                        style="width: 100%;">
                        Thêm
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="voucher mt-4 d-flex align-items-center" style="gap: 25rem;">
        <div class="vouvher-item">
            <h6 class="text-uppercase fw-bold">Tổng tiền</h6>
            <p class="m-0 fw-bold">100.000 đ</p>
        </div>
        <div class="vouvher-item">
            <h6 class="text-uppercase fw-bold">Đơn hàng</h6>
            <p class="m-0 fw-bold">100.000 đ</p>
        </div>
        <div class="vouvher-item">
            <h6 class="text-uppercase fw-bold">Khách hàng</h6>
            <p class="m-0 fw-bold">100.000 đ</p>
        </div>
    </div>
</section>
<section class="card p-4 mt-4">
    <div class="list-tab">
        <div>
            <button class="btn--tab" [ngClass]="{'btn--active': isActive(-1)}" (click)="GetListVoucherByStatus(-1)">
                Tất cả
            </button>
            <button class="btn--tab" [ngClass]="{'btn--active': isActive(0)}" (click)="GetListVoucherByStatus(0)">
                Sắp diễn ra
            </button>
            <button class="btn--tab" [ngClass]="{'btn--active': isActive(1)}" (click)="GetListVoucherByStatus(1)">
                Đang diễn ra
            </button>
            <button class="btn--tab" [ngClass]="{'btn--active': isActive(2)}" (click)="GetListVoucherByStatus(2)">
                Tạm ngưng
            </button>
            <button class="btn--tab" [ngClass]="{'btn--active': isActive(3)}" (click)="GetListVoucherByStatus(3)">
                Đã kết thúc
            </button>
            <button class="btn--tab" [ngClass]="{'btn--active': isActive(4)}" (click)="GetListVoucherByStatus(4)">
                Đã hủy
            </button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <div class="group--search">
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Tìm kiếm...."
                    aria-describedby="defaultFormControlHelp">
                <button class="btn--search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                (click)="openCreateMode()">Tạo khuyễn mãi
                mới</button>
        </div>
    </div>

    <div class="table-responsive text-nowrap mt-4">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th style="color: white;">STT</th>
                    <th style="color: white;">Tên khuyến mãi</th>
                    <th style="color: white;">Trạng thái</th>
                    <th style="color: white;">Ngày bắt đầu</th>
                    <th style="color: white;">Ngày kết thúc</th>
                    <th style="color: white;">Điều kiện</th>
                    <th style="color: white;">Chỉnh sửa</th>
                    <th style="color: white;">Thao tác</th>
                    <th style="color: white;">Hủy</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0 mt-4">
                <tr *ngFor="let i of ListVoucher">
                    <td>{{i.id}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary">{{i.name}}</button>
                    </td>
                    <td>
                        {{getStatus(i.status)}}
                    </td>
                    <td>
                        <span class="fw-bold text-primary">{{i.timeStart | date:'hh:mm - dd/MM/yyyy'}}</span>
                    </td>
                    <td>
                        <span class="fw-bold text-primary">{{i.timeEnd | date:'hh:mm - dd/MM/yyyy'}}</span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary">{{i.min_Order_Value}} VNĐ</button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" (click)="openUpdateMode(i.id)">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary" (click)="updateVoucherStatus(i.id, i.status)" >

                            <i [ngClass]="getStatusClass(i.status)"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger" (click)="RemoveVoucher(i.id,i.status)">
                            <i [ngClass]="getStopClass(i.status)"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ modalTitle }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-create-voucher-dialog *ngIf="isCreateMode"></app-create-voucher-dialog>
                <app-update-voucher *ngIf="!isCreateMode" [voucherId]="seclectedVoucherId" (saveSuccess)="onVoucherSaved()"></app-update-voucher>
            </div>
        </div>
    </div>
</div>