<div class="card p-4">
    <div class="d-flex justify-content-between">
        <div class="col-6">
            <div class="group--search">
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Tìm kiếm...."
                    aria-describedby="defaultFormControlHelp">
                <button class="btn--search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>

        <div>
            <div class="btn-group">
                <button type="button" class="btn--dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Giá
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" style="width: 19rem;">
                    <li class="px-3 py-2">
                        <input type="number" class="form-control" placeholder="Giá tối thiểu">
                    </li>
                    <li class="px-3 py-2">
                        <input type="number" class="form-control" placeholder="Giá tối đa">
                    </li>
                    <li class="px-3 py-2">
                        <button class="btn btn-primary d-flex align-items-center justify-content-between"
                            style="width: 100%;">
                            Lọc
                            <i class="fa-solid fa-filter"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <div class="btn-group">
                <button type="button" class="btn--dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Loại sản phẩm
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" style="width: 19rem;">
                    <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="px-2 py-1">
                        <button class="btn btn-primary d-flex align-items-center justify-content-between"
                            style="width: 100%;">
                            Thêm
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <button class="btn btn-primary" (click)="isShow = true">Thêm sản phẩm mới</button>
        </div>

    </div>
</div>

<!-- content -->
<div class="card mt-4">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th style="color: white;">STT</th>
                    <th style="color: white;">Hình ảnh</th>
                    <th style="color: white;">Tên</th>
                    <th style="color: white;">Số lượng</th>
                    <th style="color: white;">Đơn giá</th>
                    <th style="color: white;">Kích thước</th>
                    <th style="color: white;">Trạng thái</th>
                    <th style="color: white;"></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0 mt-4">
                <tr *ngFor="let item of products ; let i = index">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        <button class="btn--zoom avatar" data-bs-toggle="modal" data-bs-target="#basicModal">
                            <img src="https://localhost:7133/api/Image/images-detal/{{item.image}}">
                        </button>
                    </td>
                    <td>
                        <a class="btn-edit">
                            {{item.name}}
                        </a>
                    </td>
                    <td>
                        <a class="btn-edit">
                            {{item.variants[0].quantity}}
                        </a>
                    </td>
                    <td>
                        <a class="btn-edit">
                            100.000 đ
                        </a>
                    </td>
                    <td>
                        <div class="d-flex gap-2">
                            <button *ngFor="let variant of item.variants" class="btn btn-sm btn-outline-warning">
                                Size {{variant.size}}
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary" [routerLink]="[item.id]"
                            (click)="create = false ; isShow = true">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- content -->

<div class="mt-3">
    <!-- Modal -->
    <div class="modal fade" id="basicModal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="height: 50rem;">
                    <img style="height: 100%; width: 100%; object-fit: contain;"
                        src="https://images.pexels.com/photos/10547966/pexels-photo-10547966.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="model" [class.hidden]="!isShow">
    <div class="model--content">
        <div class="model--content--header">
            <h4 class="title m-0">
                {{create ? 'Thêm sản phẩm' : 'Cập nhật sản phẩm' }}
            </h4>
            <button class="btn btn-sm btn-danger" (click)="isShow = false; create = true"
                [routerLink]="['/admin/products']">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="model--content--body">
            <app-create-product *ngIf="create"></app-create-product>
            <!-- <app-update-products *ngIf="!create"></app-update-products> -->
            <router-outlet *ngIf="!create"></router-outlet>
        </div>
    </div>
</div>