<div class="card p-4">
    <div class="d-flex justify-content-between">
        <div class="col-6">
            <div class="group--search">
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Tìm kiếm...."
                    aria-describedby="defaultFormControlHelp">
                <button class="btn--search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>

        <div>
            <div class="btn-group">
                <button type="button" class="btn--dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Giá
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);">Thêm </a>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <div class="btn-group">
                <button type="button" class="btn--dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Loại sản phẩm
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);">Thêm </a>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <button class="btn btn-primary">Thêm sản phẩm mới</button>
        </div>

    </div>
</div>