<div class="card p-4">
    <div class="list-tab row">
        <div class="col-6">
            <button class="btn--tab btn--active">Tất cả</button>
            <button class="btn--tab">Đang chờ xử lý</button>
            <button class="btn--tab">Đã hoàn tất</button>
            <button class="btn--tab">Bồi thường</button>
        </div>
        <div class="col-6">
            <div class="group--search">
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Tìm kiếm...."
                    aria-describedby="defaultFormControlHelp">
                <button class="btn--search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
    <div class="header--bottom">
        <div class="text-uppercase fw-bold">
            Có 19 đơn hàng
        </div>
        <div class="header--bottom--button">
            <button class="btn btn-primary">Xuất dữ liệu
                <i class="fa-solid fa-arrow-up-right-from-square ms-3"></i>
            </button>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th style="color: white;">STT</th>
                    <th style="color: white;">Lý do hoàn trả</th>
                    <th style="color: white;">Người mua</th>
                    <th style="color: white;">Ngày tháng</th>
                    <th style="color: white;">Thanh toán</th>
                    <th style="color: white;">Tổng tiền</th>
                    <th style="color: white;">Số tiền hoàn trả</th>
                    <th style="color: white;">Trạng thái đơn hàng</th>
                    <th style="color: white;"></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0 mt-4">
                <tr>
                    <td>1</td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary">Lê Văn A</button>
                    </td>
                    <td>
                        20/20/2002
                    </td>
                    <td>
                        <span class="fw-bold text-primary">Đã thanh toán</span>
                    </td>
                    <td>
                        100.000 đ
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary">Đang chờ xử lý</button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>