<div class="row p-4">
    <div class="cart col-12">
        <div class="row">
            <div class="col-6">
                <div>
                    <label for="defaultFormControlInput" class="form-label">Hình ảnh</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple=""
                        (change)="onFilesSelected($event)">
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label for="defaultFormControlInput" class="form-label">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe"
                        aria-describedby="defaultFormControlHelp" [(ngModel)]="name">
                    <div id="defaultFormControlHelp" class="form-text text-danger">
                        We'll never share your details with anyone else.
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-6">
                <div class="image d-flex gap-3 flex-wrap">
                    <!--  image render form server -->
                    <div class="position-relative border border-1 h-50 rounded rounded-1" *ngFor="let item of arrImage">
                        <img src="{{item.link + '=s120'}}" alt="" class="rounded-1 h-100">
                        <button class="btn btn-sm btn-danger position-absolute btn-max-sm" *ngIf="!item.isActive"
                            style="top: 0px; right: 0px;"><i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div class="position-relative border border-1 h-50 rounded rounded-1"
                        *ngFor="let item of imageUrls">
                        <img [src]="item.url" alt="" class="rounded-1 h-100">
                        <button class="btn btn-sm btn-danger position-absolute btn-max-sm"
                            (click)="RemoveItem(item.index)" style="top: 0px; right: 0px;"><i
                                class="fa-solid fa-xmark"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label for="defaultFormControlInput" class="form-label">Loại sản phẩm</label>
                    <select id="defaultSelect" class="form-select" [(ngModel)]="category">
                        <option [value]="item.id" *ngFor="let item of categorys">
                            {{item.name}}
                        </option>
                    </select>
                </div>
                <div class="mt-4">
                    <label for="defaultFormControlInput" class="form-label">Kích thước</label>
                    <form [formGroup]="formSize">
                        <div class="row">
                            <div class="col-3">
                                <select name="" id="" class="form-control" formControlName="size">
                                    <option [value]="item" *ngFor="let item of sizes">
                                        {{item}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="defaultFormControlInput"
                                    placeholder="Đơn giá" formControlName="price">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="defaultFormControlInput"
                                    placeholder="Số lượng" formControlName="quantity">
                            </div>
                            <div class="col-3" *ngIf="!isButtonUpdate">
                                <button class="btn btn-primary w-100" (click)="OnSumbit()"
                                    [disabled]="formSize.invalid">
                                    Thêm
                                </button>
                            </div>
                            <div class="col-3" *ngIf="isButtonUpdate">
                                <button class="btn col-6" (click)="cancelForm()">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                                <button class="btn btn-primary col-6" (click)="SaveChangeVatiant()"
                                    [disabled]="formSize.invalid">
                                    <i class="fa-solid fa-check"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="can--turn mt-4">
                    <div class="row">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th style="color: white;">Size</th>
                                    <th style="color: white;">Đơn giá</th>
                                    <th style="color: white;">Số lượng</th>
                                    <th style="color: white;">Trạng thái</th>
                                    <th style="color: white;"></th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0 mt-4">
                                <tr *ngFor="let item of listSize">
                                    <td> SIZE {{item.size}} </td>
                                    <td>
                                        {{item.price | currency:' ':'symbol':'1.0-0'}}.000 đ
                                    </td>
                                    <td>
                                        {{item.quantity}}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-danger" (click)="RemoveSize(item )">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!-- === variant render from database -->
                                <tr *ngFor="let item of arrayVariant">
                                    <td class="text-uppercase">
                                        Size {{item.size}}
                                    </td>
                                    <td>
                                        {{item.price | currency:' ':'symbol':'1.0-0'}}.000 đ
                                    </td>
                                    <td>
                                        {{item.quantity}}
                                    </td>
                                    <td>
                                        <button class="m-0 btn text-danger" [class.text-primary]="item.status">
                                            {{ item.status ?
                                            'Còn hàng' :
                                            'Hết hàng'}}
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-primary"
                                            (click)="IsMountFormVariant(item)">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div>
                <label for=" defaultFormControlInput" class="form-label text-primary">
                    Mô tả sản phẩm do AI tạo
                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                </label>
                <div class="row">
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Nhập gợi ý mô tả sản phẩm....."
                            [(ngModel)]="prompt">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary w-100" (click)="CreateDes()"
                            [disabled]="!prompt.trim() || isLoading">
                            <div *ngIf="!isLoading">
                                Tạo
                            </div>
                            <div class="spinner-border" role="status" style="width: 20px; height: 20px;"
                                *ngIf="isLoading">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="mt-3" *ngIf="aiResponse.trim()">
                    <label for=" defaultFormControlInput" class="form-label fw-bold">
                        Kết quả trả về
                        <i class="fa-solid fa-wand-magic-sparkles"></i>
                    </label>
                    <p class="text-justify">
                        {{aiResponse}}
                        <button class="btn btn-sm btn-primary mx-3" (click)="BntUsing(aiResponse)">Sử dụng</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div>
                <label for="defaultFormControlInput" class="form-label">
                    Mô tả sản phẩm
                </label>
                <editor [(ngModel)]="describe" apiKey="0n6ijdg7hl4ie1ub4pkwl682mmhr0gr53tosh1u9609wu5ed" [init]="{
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
                }"></editor>
            </div>
        </div>
        <div class="d-flex justify-content-end w-100">
            <button class="btn btn-primary mt-3" (click)="Update()">
                Cập nhật sản phẩm
            </button>
        </div>
    </div>
</div>

<app-loading *ngIf="isLoadingSumbit"></app-loading>