<div class="card p-4">
  <div class="list-tab row">
    <div class="col-6">
      <button *ngFor="let tab of getTabs()" (click)="setActiveTab(tab)"
        class="px-4 py-2 text-sm font-medium rounded-t-md border-b-2 focus:outline-none
               hover:text-gray-600 hover:border-gray-300
               {{ activeTab === tab ? 'btn--tab btn--active text-blue-500 border-blue-500' : 'btn--tab text-gray-500 border-transparent' }}">
        {{ tab | titlecase }}
      </button>
    </div>
    <div class="col-6">
      <div class="group--search">
        <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Tìm kiếm...."
          aria-describedby="defaultFormControlHelp">
        <button class="btn--search"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
  </div>
  <div class="header--bottom">
    <div class="text-uppercase fw-bold">
      Có {{countOrder}} đơn hàng
    </div>
    <div class="header--bottom--button">
      <button class="btn btn-primary">Xuất dữ liệu
        <i class="fa-solid fa-arrow-up-right-from-square ms-3"></i>
      </button>
    </div>
  </div>
</div>

<div class="card mt-4">
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th style="color: white;">STT</th>
          <th style="color: white;">Tên khách hàng</th>
          <th style="color: white;">Ngày đặt hàng</th>
          <th style="color: white;">Thanh toán</th>
          <th style="color: white;">Tổng tiền</th>
          <th style="color: white;">Trạng thái đơn hàng</th>
          <th style="color: white;"></th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0 mt-4 fs-6" *ngFor="let order of filteredOrders; let i = index">
        <tr>
          <td>{{i+1}}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary fs-6">Nguyễn Văn A</button>
          </td>
          <td>
            {{order.timeCreate | date:'dd/MM/yyyy'}}
          </td>
          <td>
            <span class="fw-bold text-primary" *ngIf="order.paymentMethod === 1">COD</span>
            <span class="fw-bold text-primary" *ngIf="order.paymentMethod === 2">VNPAY</span>
            <span class="fw-bold text-primary" *ngIf="order.paymentMethod === 3">ZaloPay</span>
          </td>
          <td>
            {{order.total.toLocaleString()}}₫
          </td>
          <td>
            <button class="btn btn-sm btn-warning fs-6" *ngIf="order.statusOrder === 1">Chờ xử lý</button>
            <button class="btn btn-sm btn-info fs-6" *ngIf="order.statusOrder === 2">Đang giao</button>
            <button class="btn btn-sm btn-success fs-6" *ngIf="order.statusOrder === 3">Hoàn thành</button>
            <button class="btn btn-sm btn-danger fs-6" *ngIf="order.statusOrder === 4">Đã hủy</button>
          </td>
          <td>
            <button class="btn btn-sm btn-outline-primary">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
