<div class="card p-4">
  <div class="list-tab row">
    <div class="col-6">
      <button *ngFor="let tab of getTabs()" (click)="setActiveTab(tab)"
        class="px-4 py-2 text-sm font-medium rounded-t-md border-b-2 focus:outline-none
               hover:text-gray-600 hover:border-gray-300
               {{ activeTab === tab ? 'btn--tab btn--active text-blue-500 border-blue-500' : 'btn--tab text-gray-500 border-transparent' }}">
        {{ tab | titlecase }}
      </button>
    </div>
    <div class="col-6">
      <div class="group--search">
        <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Tìm kiếm...."
          aria-describedby="defaultFormControlHelp">
        <button class="btn--search"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
  </div>
  <div class="header--bottom">
    <div class="text-uppercase fw-bold">
      Có 19 đơn hàng
    </div>
    <div class="header--bottom--button">
      <button class="btn btn-primary">Xuất dữ liệu
        <i class="fa-solid fa-arrow-up-right-from-square ms-3"></i>
      </button>
    </div>
  </div>
</div>

<div class="card mt-4">
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th style="color: white;">STT</th>
          <th style="color: white;">Người mua</th>
          <th style="color: white;">Ngày tháng</th>
          <th style="color: white;">Thanh toán</th>
          <th style="color: white;">Tổng tiền</th>
          <th style="color: white;">Trạng thái đơn hàng</th>
          <th style="color: white;"></th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0 mt-4" *ngFor="let order of filteredOrders">
        <tr>
          <td>1</td>
          <td>
            <button class="btn btn-sm btn-outline-primary">{{order.ten}}</button>
          </td>
          <td>
            {{order.ngayDat}}
          </td>
          <td>
            <span class="fw-bold text-primary">{{order.trangThaiThanhToan}}</span>
          </td>
          <td>
            {{order.tongTien}}đ
          </td>
          <td>
            <button class="btn btn-sm btn-outline-primary">{{order.trangThaiDonHang}}</button>
          </td>
          <td>
            <button class="btn btn-sm btn-outline-primary">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
